<a href="https://colab.research.google.com/github/tyasismayanti412/MSIBORBIT/blob/main/coba1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

colab coba2

In [1]:
print('hello world')

hello world

In [2]:
!wget -O Mall_Customers.csv https://raw.githubusercontent.com/tyasismayanti412/MSIBORBIT/main/Dataset/Mall_Customers.csv

--2022-03-22 06:58:59--  https://raw.githubusercontent.com/tyasismayanti412/MSIBORBIT/main/Dataset/Mall_Customers.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4286 (4.2K) [text/plain]
Saving to: ‘Mall_Customers.csv’

Mall_Customers.csv  100%[===================>]   4.19K  --.-KB/s    in 0s

2022-03-22 06:58:59 (28.4 MB/s) - ‘Mall_Customers.csv’ saved [4286/4286]

In [3]:
import pandas as pd
import numpy as np

In [6]:
dataset = pd.read_csv('https://raw.githubusercontent.com/tyasismayanti412/MSIBORBIT/main/Dataset/Mall_Customers.csv', error_bad_lines=False)
dataset.keys()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

Index(['CustomerID', 'Genre', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [7]:
dataset

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]