<a href="https://colab.research.google.com/github/tyasismayanti412/MSIBORBIT/blob/main/Excercise_5_Tyas_Ismayanti_100322.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama: Tyas Ismayanti <br>
NIM : 5302419038 <br>
Prodi : Pendidikan Teknik Informatika dan Komputer UNNES

In [ ]:
#Program Penghitung Gaji Karyawan dengan Input

def golongan_1(gaji_pokok=15000000, overtime=0):
    """Menghitung upah golongan 1, keyword default"""
    tunjangan = gaji_pokok*0.15
    upah_kotor = gaji_pokok + tunjangan + overtime
    potongan = 0.02*upah_kotor
    upah_bersih = upah_kotor - potongan
    print('Upah Bersih Anda :', upah_bersih)

def golongan_2(gaji_pokok=7500000, overtime=150000):
    """Menghitung upah golongan 1, keyword default"""
    ovt = int(input('Berapa jam overtime Anda = '))
    total_ovt = overtime*ovt
    tunjangan = gaji_pokok*0.10
    upah_kotor = gaji_pokok + tunjangan + total_ovt
    potongan = 0.02*upah_kotor
    upah_bersih = upah_kotor - potongan
    print('Upah Bersih Anda :', upah_bersih)

def golongan_3(gaji_pokok=5000000, overtime=100000):
    """Menghitung upah golongan 1, keyword default"""
    ovt = int(input('Berapa jam overtime Anda = '))
    total_ovt = overtime*ovt
    tunjangan = gaji_pokok*0.05
    upah_kotor = gaji_pokok + tunjangan + total_ovt
    potongan = 0.02*upah_kotor
    upah_bersih = upah_kotor - potongan
    print('Upah Bersih Anda :', upah_bersih)
    

while True:
  menu = int(input('Pilih golongan Anda = '))

  if menu==1:
      golongan_1()
      break
  elif menu==2:
      golongan_2()
      break
  elif menu==3:
      golongan_3()
      break
  else:
      print('\n Menu tidak ada')
      break

Pilih golongan Anda = 3
Berapa jam overtime Anda = 10
Upah Bersih Anda : 6125000.0

In [ ]:
#Program Penghitung Gaji Karyawan secara default

print('DATA GAJI KARYAWAN')
print('\n')
def cetak_garis():
    print('-' * 20)

nama = ['Anna', 'Dimas', 'Sriyono', 'Oky', 'Wati', 'Yayan']
gol = [2, 3, 1, 2, 1, 3]
ovt = (10, 15, 3, 8, 6, 17)

def upah_kotor(gaji_kotor, tunjangan, gaji_overtime):
    upah = gaji_kotor + tunjangan + gaji_overtime
    return upah

def upah_bersih(gaji_pokok, tunjangan, gaji_overtime):
    total_upah_kotor = upah_kotor(gaji_pokok, tunjangan, gaji_overtime)
    potongan = total_upah_kotor * 0.02
    upah_bersih = total_upah_kotor - potongan
    return upah_bersih


for x, y, z in zip(nama, gol, ovt):
    if y == 1:
        gaji = upah_bersih(15000000, 15000000*0.15, 0)
        print(f'Nama Karyawan : {x} \nGolongan : {y} \nOvertime : {z} \nUpah bersih : Rp.', gaji)
        cetak_garis()
    elif y == 2:
        gaji = upah_bersih(7500000, 7500000*0.10, 150000*z)
        print(f'Nama Karyawan : {x} \nGolongan : {y} \nOvertime : {z} \nUpah bersih : Rp.', gaji)
        cetak_garis()
    elif y == 3:
        gaji = upah_bersih(5000000, 5000000*0.05, 100000*z)
        print(f'Nama Karyawan : {x} \nGolongan : {y} \nOvertime : {z} \nUpah bersih : Rp.', gaji)
        cetak_garis()

DATA GAJI KARYAWAN


Nama Karyawan : Anna
Golongan : 2
Overtime : 10
Upah bersih : Rp. 9555000.0
--------------------
Nama Karyawan : Dimas
Golongan : 3
Overtime : 15
Upah bersih : Rp. 6615000.0
--------------------
Nama Karyawan : Sriyono
Golongan : 1
Overtime : 3
Upah bersih : Rp. 16905000.0
--------------------
Nama Karyawan : Oky
Golongan : 2
Overtime : 8
Upah bersih : Rp. 9261000.0
--------------------
Nama Karyawan : Wati
Golongan : 1
Overtime : 6
Upah bersih : Rp. 16905000.0
--------------------
Nama Karyawan : Yayan
Golongan : 3
Overtime : 17
Upah bersih : Rp. 6811000.0
--------------------

In [ ]:
#Program Lambda Kelipatan Tanggal Lahir

tanggal = [(lambda x : x*4)(x) for x in range(1,31)]
print('List Kelipatan tanggal lahir :', tanggal)

List Kelipatan tanggal lahir : [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120]

In [ ]:
#Program Pemisah Bilangan Ganjil Genap

bilangan = [-1, -3, 2, 4, 5, 6, 8, 9, 10, 22, 25, 23, 74, 101] #list angka

bil_ganjil = list(filter(lambda x: x%2 != 0, bilangan))
bil_genap = list(filter(lambda x: x%2 == 0, bilangan))

print('Angka Ganjil :', bil_ganjil)
print('Angka Genap :', bil_genap)

Angka Ganjil : [-1, -3, 5, 9, 25, 23, 101]
Angka Genap : [2, 4, 6, 8, 10, 22, 74]